@import "tailwindcss";
.color-bends-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


@keyframes glow {
0%, 100% {
  text-shadow: 0 0 10px #fbbf24;}
50% {
  text-shadow: 0 0 25px #fbbf24, 0 0 40px #fbbf24;}

}
.name {
  animation: glow 2s ease-in-out infinite;
}
a {
  color: rgb(245, 239, 239);
  text-decoration: none;
  font-size: 18px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  flex-direction: column; /* يخلي العناصر تحت بعض */
  align-items: center;
  gap: 10px;
  margin-top: 0;
  height: auto;
  overflow: hidden;
  min-height: 100vh;
}


.box {
  display: flex; /* يجعل الأيقونة والنص في خط واحد */
  align-items: center;
  justify-content: FLEX-START; /* يجعل الأيقونة والنص في خط واحد */
 
  gap: 80px;
  width: 340px;
   font-size: 24px;
   padding: 18px 20px;
  max-width: 250px;
  text-align: center;
  background: transparent;
  border: 2px solid white;
  color: white;

  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.box:hover {
  background: rgba(255,255,255,0.1);
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;

}
/*@media (max-width: 768px) {
  .container {
    padding: 10px;
    width: 90%;
  }
  .box {
    width: 90%;
  }
  .profile-image {
    width: 120px;
    height: 120px;
  }
}


@media (max-width: 1024px) {
  .container {
    width: 70%;
  }
  .box {
    width: 70%;
  }
}


@media (orientation: landscape) {
  .container {
    min-height: auto;
    padding: 10px 0;
  }
  .profile-image {
    width: 100px;
    height: 100px;
  }
}*/
